html, body {
    display: block;
    overflow: hidden;
    height: 100%;
  }
  body {
    background-color: #00000f;
    background: linear-gradient(to bottom, #020111 60%, #20202c 100%);
  }
  .color{
      color: white;
  }
  .position{
      position: absolute;
      text-align: center;
      margin-top: 23%;
  }
  .big{
      font-size: 40px;
  }
  .font{
      font-family: fantasy;
      opacity: 0;
  }